<!Doctype html>
<html>
  <head>
  <title>Pizza Shop</title>
  <link rel="icon" type="x-icon" href="favicon_io(3)/favicon.ico">
  <link rel="stylesheet" href="contactstyles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
<nav class="topnav" id="myTopnav">

  <ul>
    <a href="index.html"><img src="za.png" alt="Logo" class="logo"></a>
    <li><h1 class="name">PIZZA PLACE</h1></li>
    <li><a href="index.html">Home</a></li>
    <li><a href="Contact.html">Contact</a></li>
    <li><a href="about.html">About</a></li>
      <li><a href="#">Menus</a>
      <ul> <!-- This is the unordered list for the dropdown menu under "Top Level 1" -->
        <li><a href="comingsoon.html">Order online Menu</a></li>
        <li><a href="menu.pdf" target="_blank">Call-in Menu </a></li>
        <li><a href="cateringmenu.html">Catering Menu </a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a></li>
  </ul>
</nav>
</header>

<body>
  <h1> pizza.email@pizza.gov </h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1032.672436654498!2d-64.83226013297325!3d18.30810692064104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c0511725fa828a9%3A0x509e7c2f0a459dcc!2sPizza%20Pi%20VI!5e0!3m2!1sen!2sus!4v1769108787972!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>  
<footer>
  <div class="clear"></div>
  <div class="address">
  <h2> Address:</h2>
  <p> Christmas Cove, St. Thomas, St Thomas 00802, U.S. Virgin Islands</p>
  </div>
  <div class="phone">
  <h2> Phone Number:</h2>
  <p> 555-555-5555</p>
  </div>
  <div class="copyright">
  <h2> Copyright:</h2>
  <p> Pizza Place 2026&copy;</p>
  </div>


</footer>
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</html>